<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TASK-3</h1>
<button><a href="http://127.0.0.1:8000/admin/">Admin</a></button>
<button><a href="http://127.0.0.1:8000/task3/">Task3</a></button>
<br>
<br>
<form action="/delete" method="GET">
    <input type="checkbox" name="del" value="Delete">
    <button>Delete</button>
</form>
<p>To delete the database click on above checkbox and submit</p><br>
<button><a href="http://127.0.0.1:8000/top/">Top searches</a></button>
</body>
</html>